body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 20px;
}

.timeline {
    position: relative;
    margin-top: 50px;
}

.event {
    display: none; /* Ocultar inicialmente todos os eventos */
    margin: 40px 0;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.event p {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}

.next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-btn:hover {
    background-color: #45a049;
}

.event:last-child .next-btn {
    display: none; /* Esconde o botão de próxima etapa no último evento */
}
